.ContactRow{
        display: flex;
        align-items: center;
        padding: 10px;
        cursor: pointer;
        
        
}
 .MuiAvatar-root{
        margin-right: 0.5rem;
}
.ContactRow > h4{
        font-size: 18px;
}